.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
   
}

.image{
    background-color: black;
    height: 350px;
    width: fit-content;
}

.titleContainer{
    padding-top: 30px;
}

.btnSummit{
    margin-top: 40px;
    
}