.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    background-color: black;
    height: 350px;
    width: fit-content;
    
}
.image::before{
    background-image: none
}
.FabList{
    padding-bottom: 25px;
}